header .navbar{
    margin: 0;
    border-style: none;
    background-color: white
}

.navbar-brand img{
    height: 100%;
}

header .navbar-default .navbar-nav>li>a{
    color: #031b4e;
    padding: 17px 9px;
}

.collapse .nav .dropdown .btn{
    margin-top: 9px;
    border-color: #0069ff;
    color: #0069ff;
    font-weight: 700;
}

.blue{
    background-color: #0069ff;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}

.row-one{
    color: white;
    margin-top: 100px;
}

.row-one h1{
    font-size: 40px;
    font-weight: 700;
}

.row-one h2{
    opacity: 0.8;
    font-size: 24px
}

.container .jumbotron{
    background-color: white;
    margin-top: 50px
}

.container .jumbotron h1{
    text-align: center;
    font-weight: 800;
    font-size: 30px
}

.jumbotron .form-group .form-control{
    margin-bottom: 10px;
    padding: 25px 12px;
    width: 100%;
}

.jumbotron .navbar-form{
    padding: 0
}

.jumbotron .btn{
    background-color: #0069ff;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
}

.jumbotron small{
    text-align: center;
    display: block;
}

.jumbotron small a{
    color: #0069ff;
    cursor: pointer;
    text-decoration: underline;
}
.lightgray{
    background-color: #f3f5f9
}

.row-two h2{
    opacity: .4;
    font-size: 14px;
    font-weight: 600;
    color: #031b4e;
    text-align: center;
    margin-top: 50px
}

.row-three img{
    max-width: 100%;
}

.row-four a{
    color: #0069ff;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 70px;
    display: block;
}

.white{
    background-color: white
}

.row-five h2{
    text-align: center;
    color: #031b4e;
    font-size: 36px;
    font-weight: 700;
    margin-top: 50px
}

.row-five p{
    font-size: 20px;
    text-align: center;
    color: rgba(3,27,78,.7);
    padding-bottom: 50px
}

.row-five ul{
    list-style: none;
}

.row-five ul li{
    padding-bottom: 25px
}

.row-five ul li a{
    font-size: 17px;
    color: rgba(3,27,78,.7);
}

.row-six img{
    width: 30px
}

.row-six h3{
    margin-top: 9px;
    font-size: 18px;
    font-weight: 700;
}

.row-six p{
    color: rgba(3,27,78,.7);
    font-size: 16px;
    margin-bottom: 50px
}

.row-seven{
    text-align: center;
}

.row-seven h1{
    color: #031b4e;
    font-size: 36px;
    font-weight: bold;
}

.row-seven h2{
    font-size: 20px;
    color: rgba(3,27,78,.7);
    padding-bottom: 50px
}

.row-seven img{
float: none;
}

.row-seven h3{
    color: rgba(3,27,78,.7);
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 50px
}

.row-eight h2{
    color: #031b4e;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.row-eight img{
    width: 30px;
    margin-top: 35px
}

.row-eight h3{
    font-size: 18px;
    font-weight: 700;
    color: #031b4e
}

.row-eight p{
    color: rgba(3,27,78,.7);
    font-size: 16px
}

.row-eight a{
    color: #0069ff;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 120px;
}

.row-eight .pad{
    padding-bottom: 120px
}

.world{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
    background-color: #031b4e
}


.row-nine h2{
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.row-ten span{
    color: white;
    font-size: 11px;
    border-bottom: 1px solid lightgray;
    display: block;
}

.container .row-ten{
    padding-right: 0
}

.container .row-eleven{
    padding-left: 0;
}

.row-eleven span{
    display: block;
    color: white;
    opacity: .6;
    font-size: 11px;
    border-bottom: 1px solid lightgray;
}

.container .row-twelve a{
    display: block;
    color: #00d7d2;
    border-bottom: 1px solid lightgray
}

.container .row-twelve{
    padding-left: 0;
    font-size: 11px
}

.container .row-eleven{
    padding-right: 0
}

.container .ms--down,.container .ms--up{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px
}

.row-seven .rockerbox{
    width: 40%;
    padding-bottom: 40px
}

.row-seven .jumbotron p{
    color: rgba(3,27,78,.7);
    font-size: 24px
}

.row-seven .jumbotron h4{
    color: rgba(3,27,78,.7);
    font-size: 16px
}

.row-seven .jumbotron small{
    color: rgba(3,27,78,.7);
    padding-bottom: 20px;
}

.row-seven .jumbotron a{
    color: #0069ff;
    font-size: 17px
}
